integrations/n8n/lead_ingestor.n8n
{
  "name": "OMD CRM - Lead Ingestor Inteligente",
  "nodes": [
    {
      "parameters": {
        "path": "omd-leads",
        "options": {}
      },
      "name": "Site Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "id": "e98e98e9-8e98-4e98-8e98-e98e98e98e98"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Analise o lead e retorne um JSON: { \"score\": 0-100, \"summary\": \"resumo da dor\", \"category\": \"Hot/Warm/Cold\" }"
            },
            {
              "role": "user",
              "content": "=MENSAGEM DO LEAD:\nNome: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nTelefone: {{ $json.body.phone }}\nMensagem: {{ $json.body.message }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "name": "IA Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [320, 300],
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "credentials": {
        "openAiApi": {
          "id": "ujK1370CzAZ0iWjd"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sua-evolution-api.cloud/message/sendText/INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5521998743504\",\n  \"text\": \"🔥 *Novo Lead OMD!*\\n\\n👤 *Nome:* {{ $node[\\\"Site Webhook\\\"].json.body.name }}\\n📊 *Score:* {{ $json.choices[0].message.content.score }}/100\\n📝 *IA:* {{ $json.choices[0].message.content.summary }}\\n\\nVeja no CRM!\"\n}",
        "options": {}
      },
      "name": "Evolution WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [550, 200],
      "id": "w1w1w1w1-w1w1-w1w1-w1w1-w1w1w1w1w1w1"
    },
    {
      "parameters": {
        "operation": "create",
        "table": "leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ $node[\"Site Webhook\"].json.body.name }}",
            "email": "={{ $node[\"Site Webhook\"].json.body.email }}",
            "phone": "={{ $node[\"Site Webhook\"].json.body.phone }}",
            "message_raw": "={{ $node[\"Site Webhook\"].json.body.message }}",
            "ia_score": "={{ $json.choices[0].message.content.score }}",
            "ia_summary": "={{ $json.choices[0].message.content.summary }}"
          }
        }
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [550, 400],
      "id": "s1s1s1s1-s1s1-s1s1-s1s1-s1s1s1s1s1s1"
    }
  ],
  "connections": {
    "Site Webhook": {
      "main": [
        [
          {
            "node": "IA Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Analysis": {
      "main": [
        [
          {
            "node": "Evolution WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {}
}
